<div class="registro-container">
    <div class="registro-rectangulo">
        <img src="Iconos/Logo2.png" alt="Logo" class="registro-logo" />
        <h2 class="registro-titulo">Restablece tu contraseña</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="registro-campo">
                <input type="email" placeholder="Correo Electrónico" [(ngModel)]="email" name="email" required email
                class="registro-input" />
            </div>
            <div class="registro-campo">
                <input [type]="contrasenaNueva ? 'text' : 'password'" placeholder="Nueva Contraseña"  [(ngModel)]="nuevaContrasena" 
                    name="nuevaContraseña"
                    required pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})"
                    class="registro-input" />
                <!-- Botón de Mostrar Contraseña -->
                <button type="button" class="toggle-password" (click)="toggleMostrarNuevaContrasena()">
                    <img [src]="contrasenaNueva ? 'ojo-abierto.png' : 'ojo-cerrado.png'"
                        alt="Toggle contraseña" class="password-icon" />
                </button>
            </div>
            <div class="registro-campo">
                <input [type]="confirmarContrasenaNueva ? 'text' : 'password'" placeholder="Confirmar Contraseña" [(ngModel)]="confirmarContrasena" 
                    name="confirmarContraseña" required class="registro-input" />
                <!-- Botón de Mostrar Contraseña -->
                <button type="button" class="toggle-password" (click)="toggleMostrarConfirmarContrasena()">
                    <img [src]="confirmarContrasenaNueva ? 'ojo-abierto.png' : 'ojo-cerrado.png'"
                        alt="Toggle contraseña" class="password-icon" />
                </button>
            </div>
            <button type="submit" class="registro-boton">Restablecer Contraseña</button>
        </form>
    </div>
</div>