.registro-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 2% auto;
  background-color: #121212;
}

.registro-rectangulo {
  background-color: #000;
  border: 2px solid #ff0000;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  text-align: center;
}

.registro-logo {
  width: 15%;
  margin-bottom: 20px;
  border: solid white;
  border-radius: 50%;
  padding: 1%;
}

.registro-titulo {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.registro-campo {
  margin-bottom: 20px;
  margin-left: 10%;
  position: relative;
  display: flex;
  align-items: center;
}

.registro-input {
  width: 90%;
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  background-color: #121212;
  color: #fff;
}

.registro-boton {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.registro-boton:hover {
  background-color: #d10000;
}

.error {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 5px;
  display: block;
}

.toggle-password {
  position: absolute;
  right: 6rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;  
}

.password-icon {
  padding: 10%;
  border: 1.5px solid white;
  background-color: red;
  border-radius: 50%;
  width: 1.7rem;
  height: auto;
  pointer-events: none;
}