.contenedor-carrito {
  display: flex;
  gap: 50px;
  color: white;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  border: solid red;
  padding: 2%;
  background-color: #121212;
}

.lista-juegos {
  flex: 3;
}

.lista-juegos h2 {
  margin: 0% 0% 5% 60%;
  font-size: 250%;
  font-family: "Barlow-Black";
}

.card-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}

.card-carrito img {
  width: 100px;
  height: auto;
}

.info-juego {
  flex: 2;
}

.cantidad-precio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resumen-carrito {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: auto;
  margin-top: 7%;
}

.resumen-carrito-div{
 display: flex;
 justify-content: space-between;
 margin: 5%;
}

.resumen-carrito-div select{
  border: 1px solid white;
  background-color: #121212;
  color: white;
  text-align: center;
  list-style: none;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-weight: bold;
}

.precio {
  margin-left: 10px; 
  text-align: right;
}

h4 {
  margin-top: 20px;
  font-size: 200%;
}

.linea{
  border: 1px solid white;
  width: 90% ;
  margin: 5% auto;
}


