<div class="center-container">
    <app-aside [asideList]="rightAsideList" class="left-aside"></app-aside>
    <section class="video-section">
        <div class="video-container">
            <iframe class="video-frame" src="https://www.youtube.com/embed/Bb-PokkE69I" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="image-gallery">
            <img src="Iconos/PS-icon.jpg" alt="Imagen 1">
            <img src="Iconos/XBOX-icon.jpg" alt="Imagen 2">
            <img src="Iconos/Ryzen-icon.webp" alt="Imagen 4">
            <img src="Iconos/Nvidia-icon.jpg" alt="Imagen 3">
        </div>
    </section>
    <section class="about-section">
        <div class="about-text">
            <h2>Acerca de Nosotros</h2>
            <p>En nuestra página, encontrarás los mejores juegos del mercado. Nos especializamos en ofrecer una amplia
                gama
                de videojuegos de diferentes géneros, brindando una experiencia única tanto para jugadores casuales como
                hardcore.</p>
            <p>Además de juegos, contamos con consolas, accesorios y contenido exclusivo que mejorará tu experiencia de
                juego. Somos tu destino favorito para todo lo relacionado con el mundo gamer.</p>
        </div>
        <div class="about-image">
            <img src="imagen.jpg" alt="Imagen Gaming">
        </div>
    </section>
    <app-aside [asideList]="leftAsideList" class="right-aside"></app-aside>
</div>