<footer class="footer">
    <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/twitter.png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/instagram.png" alt="Instagram">
        </a>
        <a href="https://www.messenger.com" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/messenger.png" alt="Messenger">
        </a>
    </div>

    <div class="logo central">
        <img src="Iconos/Logo2.png" alt="Logo" class="footer-logo">
    </div>

    <div class="social-icons">
        <a href="https://www.whatsapp.com" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/whatsapp.png" alt="Whatsapp">
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/youtube.png" alt="YouTube">
        </a>
        <a href="https://www.tiktok.com" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/tik tok.png" alt="TikTok">
        </a>
        <a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer">
            <img src="/Redes/twitch.png" alt="Twitch">
        </a>
    </div>
</footer>
